.deck-container {
  color: #222;
  font-family: "DIN Next LT Pro", Arial, sans-serif;
  font-size: 1.75em;
  background: #f9f9f9; }
  .deck-container .slide code {
    color: #888; }
  .deck-container .slide blockquote {
    font-size: 2em;
    padding: 1em 2em;
    color: #272727; }
    .deck-container .slide blockquote p {
      margin: 0; }
      .deck-container .slide blockquote p + p {
        margin-top: 1em; }
    .deck-container .slide blockquote cite {
      font-size: .5em;
      font-weight: normal;
      color: #888;
      display: block; }
      .deck-container .slide blockquote cite::before {
        content: "- "; }
  .deck-container .slide ::-moz-selection {
    background: #c00;
    color: #fff; }
  .deck-container .slide ::selection {
    background: #c00;
    color: #fff; }
  .deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
    color: #78a300;
    text-decoration: none; }
  .deck-container .slide a:hover, .deck-container .slide a:focus {
    text-decoration: underline; }
  .deck-container .slide .badge {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    font-size: 18px;
    padding: 10px 100px;
    position: absolute;
    right: -110px;
    text-align: center;
    top: 50px;
    width: 150px; }
    .deck-container .slide .badge.black {
      background: #343434;
      background-image: -o-linear-gradient(left, #212121 0%, #454545 100%);
      background-image: -moz-linear-gradient(left, #212121 0%, #454545 100%);
      background-image: -webkit-linear-gradient(left, #212121 0%, #454545 100%);
      background-image: -ms-linear-gradient(left, #212121 0%, #454545 100%);
      background-image: linear-gradient(left, #212121 0%, #454545 100%); }
    .deck-container .slide .badge.orange {
      background: #c35116; }
  .deck-container .slide figure {
    text-align: center; }
    .deck-container .slide figure figcaption {
      color: #888;
      font-size: 85%; }
  .deck-container > .slide {
    overflow: hidden;
    padding: 10px 35px; }
    .deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
      opacity: 0.4; }
      .deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
        opacity: 1; }
    .deck-container > .slide .deck-child-current {
      opacity: 1; }
    .deck-container > .slide.chapter {
      color: #78a300; }
      .deck-container > .slide.chapter.green {
        background: #78a300; }
        .deck-container > .slide.chapter.green, .deck-container > .slide.chapter.green.deck-current ~ .deck-status, .deck-container > .slide.chapter.green code, .deck-container > .slide.chapter.green pre {
          color: #f8f8f8; }
    .deck-container > .slide header, .deck-container > .slide.chapter header {
      color: #7d7d7d;
      background: transparent url("grey_lotus.svg") top right no-repeat;
      background-size: 85px;
      border-bottom: 5px solid #78a300;
      font-size: 50px;
      font-weight: 200;
      height: 80px;
      letter-spacing: -3px;
      padding-top: 5px; }
    .deck-container > .slide h1 cite {
      display: block;
      font-size: 0.25em; }
    .deck-container > .slide h3 {
      font-size: 2.5em; }
    .deck-container > .slide p, .deck-container > .slide ol, .deck-container > .slide ul {
      margin-top: 1em;
      font-size: 1.5em; }
    .deck-container > .slide img, .deck-container > .slide iframe, .deck-container > .slide video {
      max-height: 100%; }
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: #ccc;
    font-family: serif; }
    .deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
      color: #fff; }
    .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
      background: #c00;
      text-decoration: none; }
  .deck-container .deck-status {
    bottom: 15px;
    right: 15px; }
  .deck-container.deck-menu .slide {
    background: #eee; }
  .deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
    background: #ddf; }
  .deck-container .slide .slide.incremental.deck-next, .deck-container .slide .slide.incremental.deck-after {
    display: none; }

.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide {
  padding: 10px 35px; }
