#rails-versions {
  padding: 3em 4em; }
  #rails-versions img {
    float: left;
    width: 10em; }
  #rails-versions span {
    font-size: 2em;
    margin-left: 1em; }
    #rails-versions span:first-of-type {
      margin-top: 3em; }

#other-services {
  padding: 3em 4em; }
  #other-services img {
    float: left;
    margin: 1em 0.5em;
    width: 20%; }
  #other-services img + img {
    margin-top: 2em; }
  #other-services img + img + img + img {
    margin-left: 3.5em; }
  #other-services img + img + img + img + img {
    margin-left: 1em;
    margin-top: 3.5em; }

img.full {
  max-height: 17em;
  max-width: 30em;
  padding-top: 10px; }
  img.full#code-to-test {
    width: 27em; }
  img.full#corey-with-cat {
    width: 25em; }
  img.full#sea-monster {
    width: 23em; }
  img.full#sprocket {
    width: 25em; }
  img.full#zaphod {
    max-height: 17em; }
  img.full#stressed-eggs {
    width: 27em; }
  img.full#cat-meeting {
    width: 22em; }
  img.full#bulleit {
    max-height: 17em; }
  img.full#carnac-the-magnificent {
    width: 30em; }
